.contact-detail-name{
    display: block;
}

.contact-detail-mail{
    display: block;
}

.contact-detail{
    display: inline-block;
    padding: 5px;
}

.contact-detail-action{
    cursor: pointer;
}